<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lugares Para Viajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let lugares of places" [routerLink]="['/places', lugares.id]">
      <ion-avatar slot="start">
        <ion-img [src]="lugares.imagemURL"></ion-img>

      </ion-avatar>
      <ion-label>
        {{lugares.title}}
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewPlace()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>